<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qiyue.materialdesignadvance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.scrolltoolbar.RecyclerViewScrollToolBarActivity" />
        <activity android:name=".demo.coordinatorlayout_behavior.CoordinatorBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.CoordinatorLayoutCustomBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.CoordinatorLayoutScrollBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.RecyclerViewScrollBehaviorActivity" />
        <activity android:name=".demo.parallelviewpager.ParalleViewPagerActivity" />
        <activity android:name=".demo.coordinatorlayout_appbarlayout.AppbarLayoutActivity" />
        <activity android:name=".demo.appbarLayout_tablayout_viewpager.AppBarTabLayoutViewPagerActivity" />
        <activity android:name=".demo.appbarlayout_collapsingtoolbarlayout.CollapsingToolbarActivity" />
        <activity android:name=".demo.collapsingtoolbarlayout_two.CollapsingToolbarLayoutActivity" />
        <activity android:name=".demo.collapsingtoolbarlayout_two.ToolbarAnchorActivity" />
        <activity android:name=".demo.meterial_design_animation.ReveralAnimationActivity"></activity>
    </application>

</manifest>