<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qiyue.materialdesignadvance">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MApplication"
        android:allowBackup="true"
        android:icon="@drawable/taiji"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.scrolltoolbar.RecyclerViewScrollToolBarActivity" />
        <activity android:name=".demo.coordinatorlayout_behavior.CoordinatorBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.CoordinatorLayoutCustomBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.CoordinatorLayoutScrollBehaviorActivity" />
        <activity android:name=".demo.coordinatorlayout_custom_behavior.RecyclerViewScrollBehaviorActivity" />
        <activity android:name=".demo.parallelviewpager.ParalleViewPagerActivity" />
        <activity android:name=".demo.coordinatorlayout_appbarlayout.AppbarLayoutActivity" />
        <activity android:name=".demo.appbarLayout_tablayout_viewpager.AppBarTabLayoutViewPagerActivity" />
        <activity android:name=".demo.appbarlayout_collapsingtoolbarlayout.CollapsingToolbarActivity" />
        <activity android:name=".demo.collapsingtoolbarlayout_two.CollapsingToolbarLayoutActivity" />
        <activity android:name=".demo.collapsingtoolbarlayout_two.ToolbarAnchorActivity" />
        <activity android:name=".demo.meterial_design_animation.ReveralAnimationActivity" />
        <activity android:name=".demo.custom_animation_frame.CustomAnimationFrameActivity" />
        <activity
            android:name=".demo.svg_vector.SVGVectorActivity"
            android:label="@string/title_activity_svgvector"
            android:theme="@style/AppTheme" />
        <activity android:name=".demo.scroller.CustomSlideMenuActivity" />
        <activity android:name=".demo.scroller.CustomSlideMenu2Activity" />
        <activity android:name=".demo.paint.PaintActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".demo.paint.ShaderActivity" />
        <activity android:name=".demo.paint.LinearGradientActivity" />
        <activity android:name=".demo.hotfix.HotFixActivity" />
        <activity android:name=".demo.paint.filter.FilterActivity" />
        <activity android:name=".demo.paint.filter.ListFilterActivity" />
        <activity android:name=".demo.paint.filter.EmBossFilterActivity" />
        <activity android:name=".demo.paint.filter.ColorMatrixOneActivity" />
        <activity android:name=".demo.canvas.CanvasActivity" />
        <activity android:name=".demo.paint.RadialSweepGradientActivity" />
        <activity android:name=".demo.paint.ComposeShaderActivity" />
        <activity android:name=".demo.radarview.RadarActivity" />
        <activity android:name=".demo.customviewpager.CustomViewPagerActivity" />
        <activity android:name=".demo.nine_gride_password.NineGridPasswordActivity" />
        <activity android:name=".demo.chart.ChartActivity" />
        <activity android:name=".demo.animation.BallActivity" />
        <activity android:name=".demo.animation.PopBallActivity" />
        <activity android:name=".demo.paint.BlurActivity" />
        <activity android:name=".demo2.webviewjs.WebActivity" />
        <activity android:name=".demo.customheader.CustomAddHeaderViewActivity" />
        <activity android:name=".demo.customheader.NewGroupActivity" />
        <activity android:name=".demo2.tech.AllTechActivity" />
        <activity
            android:name=".demo.customdrawable.CustomDrawableActivity"
            android:label="@string/title_activity_custom_drawable"
            android:theme="@style/AppTheme" />
        <activity android:name=".demo.path.CustomSearchBarActvity" />
        <activity android:name=".demo.path.CustomWaveActivity" />
        <activity android:name=".demo.path.WaveActivity" />
        <activity android:name=".demo.path.pathMeasure.PathMeasureActivity" />
        <activity android:name=".demo.path.pathMeasure.PathAnimationActivity" />
        <activity android:name=".demo.path.pathMeasure.ZanAnimationActivity" />
        <activity android:name=".demo.animation.GifAnimationActivity" />
        <activity
            android:name=".demo2.surfaceview.SurfaceViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".demo2.texture.TextureActivity" />
        <activity android:name=".demo2.inputpassword.CustomPasswordActivity" />
        <activity android:name=".demo2.circlepassword.CirclePasswordActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".demo2.json.JsonActivity"></activity>
        <activity android:name=".demo2.diffutil.DiffUtilActivity"/>
        <activity android:name=".demo2.sortlistadapter.SortedListActivity"/>
        <activity android:name=".demo2.androidannotation.AnnotationActivity_"/>
        <activity android:name=".demo2.androidannotation.SecondActivity_"/>
        <activity android:name=".demo2.snappydb.SnappyActivity"/>
        <activity android:name=".demo2.greendao3.GreenDaoActivity"/>
        <activity android:name=".demo2.dbexecutor.DBExecutorActivity"/>
        <activity android:name=".demo2.loadmorewrapper.LoadMoreWrapperActivity"/>
    </application>

</manifest>